################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages/FluentAssertions.4.19.4
/WebForms.MVVM/bin/Debug
/WebForms.MVVM/obj/Debug
/WebForms.MVVM.Test/bin/Debug
/WebForms.MVVM.Test/obj/Debug
/WebForms.MVVM/bin/Release
/WebForms.MVVM/obj/Release
/WebForms.MVVM.Test/bin/Release
/WebForms.MVVM.Test/obj/Release
/WebForms.MVVM.Sample/bin
/WebForms.MVVM.Sample/obj
/packages/WebForms.MVVM.1.0.1
